@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secundary-color: #b81515;
  --tertiary-color: #8C8C8C;

  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-color);
}

section {
  margin-top: 88px;
  width: 312px;
  margin: 0 auto 88px;
  align-items: center;
}

.hero,
.bottom-hero,
.bottom-hero__packages,
.bottom-hero__contact {
  width: 100%;
  margin: 0;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}

.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.content-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.section-title hr,
.hero .hero-img hr,
.form hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px auto 32px auto;
}

.button,
.button-submit {
  display: inline-block;
  width: 280px;
  height: 64px;
  color: var(--text-secundary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  background-color: var(--secundary-color);
  border-radius: 16px;
  text-decoration: none;
  line-height: 64px;
  border: none;
}

/* Páginas do Blog, Destinos e Contato */
.hero .hero-img .hero-content {
  width: 312px;
  margin: 0 auto;
  padding-top: 81px;
}

.hero .hero-img .hero-content h1 {
  color: var(--text-secundary-color);
  font-size: 48px;
  font-weight: var(--title-weight);
}

.hero .hero-img .hero-content hr {
  margin: 16px 0 32px 0;
}

.hero .hero-img .hero-content p {
  color: var(--text-secundary-color);
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--text-weight);
}

.form-sent {
  text-align: center;
  margin-top: 80px;
}

@media screen and (min-width: 768px) {
  section {
    width: 648px;
  }
  .section-title h2 {
    font-size: 32px;
  }

  /* Páginas do Blog, Destinos e Contato */
  .hero .hero-img .hero-content {
    width: 648px;
    padding-top: 159px;
  }

  .hero .hero-img .hero-content p {
    font-size: 32px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 900px;
  }

  .button:hover {
    background-color: var(--primary-color);
  }

  /* Páginas do Blog, Destinos e Contato */
  .hero .hero-img .hero-content {
    width: 579px;
    margin-left: 9%;
  }

  .hero .hero-img .hero-content p {
    font-size: 32px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}
