header {
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}

.logo-mobile {
  display: inline-block;
  width: 51px;
  height: 48px;
}

.logo-desktop {
  display: none;
}

.navigation-menu img {
  display: inline-block;
  width: 24px;
  height: 16px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  color: var(--text-secundary-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: var(--menu-text-weight);
}

/* Página do blog Jornada Viagens */

.navigation-menu .list-links li a.active {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .navigation-menu label {
    display: none;
  }

  .list-links {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 467px;
  }

  .navigation-menu nav {
    display: block;
  }

  .logo-mobile {
    width: 68px;
    height: 64px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 38px 85px;
  }

  .logo {
    width: auto;
  }

  .logo-desktop {
    display: block;
    margin-right: auto;
  }
  .logo-mobile {
    display: none;
  }

  .navigation-menu .list-links a:hover {
    color: var(--primary-color);
  }
}

@media screen and (min-width: 1440px) {
  header {
    padding: 38px 120px;
  }
}

@media screen and (min-width: 1920px) {
  /* O padding foi aumentado para reduzir espaços excessivos em telas de resolução muito alta. A fórmula utilizada para ajustar o valor foi:
(120 x 1920) / 1440 = 160px
Onde:
120 = padding usado na resolução anterior
1920 = resolução alvo para o novo cálculo
1440 = resolução base do projeto */
  header {
    padding: 38px 160px;
  }
}
