@import url("../styles/global.css");
@import url("../styles/header.css");
@import url("../styles/hero.css");
@import url("../styles/offers.css");
@import url("../styles/category.css");
@import url("../styles/destinations.css");
@import url("../styles/payments.css");
@import url("../styles/testimonials.css");
@import url("../styles/form.css");
@import url("../styles/footer.css");